@import url(//fonts.googleapis.com/css?family=Oswald);

.player-image{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.small-player-image {
    width: 50%;
    height:75px;
    border-radius: 5px;
}

.player-box {
    height: 450px;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("//s3-eu-west-1.amazonaws.com/ben-fiveify/media/images/champos-league.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 5px;
}

body {
    background: url("//s3-eu-west-1.amazonaws.com/ben-fiveify/media/images/soccer_11July16_original.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*block background colour for smaller devices*/
@media screen and (max-width: 735px){
    body {
        background: #41837E;
    }
}
@media screen and (max-device-width: 735px){
    body {
        background: #41837E;
    }
}
#logo > a {
    color: #003430;
}
#logo a:hover{
    text-decoration: none;
}
#tag-line {
    text-decoration: none;
}
.content-container {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
    padding: 10px;
    border-radius: 10px;
}

.created {
    color: white;
    position: fixed;
    bottom:5px;
}
.index-hack {
    margin-bottom: 150px;
}
/*profile styling*/
.team-container {
    background: url("//s3-eu-west-1.amazonaws.com/ben-fiveify/media/images/teams.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
#team-title {
    color: white;
    text-align: center;
    margin-bottom: 200px;
}
.player-name {
    color: white;
}
#player-link {
    color: #003430;
}
.viewCounter {
    color: #12ABB2;
    display: inline;
}
.tags {
    color: #12AB82;
    display: inline;
    font-style: italic;
}
.details {
    display: inline;
}
.forum-titles {
    margin: 10px;
}
/*Custom nav-bar styling*/
.navbar > #nav > ul {
    background-color: #003430;
    border-bottom: solid #54A759;
    border-width: 10px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    width: 100%;
    padding-left: 50px;
}
.nav > li > a{
    font-family: Oswald;
    font-size: 30px;
    text-decoration: none;
    color: #54A759;
    transition: ease-out 0.2s;
}
.nav > li {
    display: inline-block;
    text-decoration: none;
    transition: ease-out 0.5s;
}
.nav > li > a:hover {
    background-color: #54A759;
    color: #003430;
    padding-right: 20px;
    padding-left: 20px;
    transition: ease-out 0.5s;
}
.current {
    background-color: #54A759;
    /*override specificity navbar CSS with important for active link*/
    color: #003430 !important;
    height: 100%;
}
/*end custom nav*/