{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5ify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href ="{% static 'css/style.css' %}">
    <link rel="stylesheet" href ="{% static 'css/font-awesome-4.6.3/css/font-awesome.min.css' %}">
    {% block head_js %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<div id="masthead">
    <div class="container">
        <div class="row">
            <h1 id="logo"><a href="/"><i class="fa fa-futbol-o" id="logo-ball" aria-hidden="true"></i> 5ify
                <p id="tag-line" class="lead"><strong>The 5 aside team generator</strong></p></a>
            </h1>
        </div>
        <div class="row">
            <nav class="navbar">
                <div id="nav">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/profile/">Profile</a></li>
                        <li><a href="/logout/">Log out</a></li>
                        {% else %}
                        <li><a href="/register/">Register</a></li>
                        <li><a href="/login/">Log in</a></li>
                        {% endif %}
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/forum/">Forum</a></li>
                        <li><a href="/store/">Store</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
{% block content %}

{% endblock content %}
</div>
<div class="whitespace">
    <p class="created">Created by Ben Chadwick</p>
</div>
</body>