{% extends 'base.html' %}

{%  block content %}
    <form role="form" method="post" action="{% url 'create_teams' %}" >
        <h2>New Match</h2>
        {% csrf_token %}
        <h2>Select Players</h2>
        <div class="row content-container">
        {% for player in players %}
            <div class="col-md-2">
                <input type="checkbox" name="player-check" value="{{ player.id }}">
                <label for="player-check">{{ player.first_name }} {{ player.last_name }}</label>
            </div>
        {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Get Teams</button>
        </div>
    </form>

    <p><button id="ajaxSubmit" class="btn btn-primary" type="button">Ajax teams</button></p>
    <div id="ajaxContent">

    </div>
{% endblock %}