{% extends 'base.html' %}

{%  block content %}

<h2>Great Success!!</h2>
<p>You are logged in {{ user.email }}</p>

<button type="button" class="btn btn-primary btn-inverse" onclick="location.href='/new/player/'">Add Player</button>
<button type="button" class="btn btn-primary btn-inverse" onclick="location.href='/new_match/'">Create Match</button>
<h2>Your Players</h2>
<div class="row player-box">
{% for player in players %}
        <div class="col-md-3">
            <a href="/player/{{ player.id }}/">
                <img src="{{ MEDIA_URL }}{{ player.image }}" class="player-image">
                <h3>{{ player.first_name }} {{ player.last_name }}</h3>
            </a>
        </div>
{% endfor %}
</div>
{% endblock %}